.filter-input{
    margin-top: 10px;
    height: 40px;
    line-height: 25px;
    width: 400px;
    text-indent: 10px;
}

.listField{
    width: 400px;
    margin: 0 auto;
    padding: 0;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: large;
    font-weight: bold;
}

.listField li{
    padding: 5px;
    background-color: #f8f8f8;
    color: orangered;
    border-bottom: 1px solid #f1f1f1;
    clear: both;
    font-family: "Poppins";
    font-size: large;
    font-weight: bold;

}

.listField li span{
    display: block;
}

.listField li span.name{
    float: left;
}

.listField li span.phone{
    float: right;
}
input{
    background-color: blanchedalmond;
    border-radius: 15px;
    color:rgb(53, 14, 101);
    font-size: large;
    font-weight: bold;
}